include README
include setup.py
include ez_setup.py
include  src/AUREA/__init__.py
include  src/AUREA/parser/SOFTParser.py
include  src/AUREA/parser/GMTParser.py
include  src/AUREA/parser/SettingsParser.py
include  src/AUREA/parser/CSVParser.py
include  src/AUREA/parser/SynonymParser.py
include  src/AUREA/parser/__init__.py
include  src/AUREA/GUI/AUREAController.py
include  src/AUREA/GUI/AUREAApp.py
include  src/AUREA/GUI/AUREAResults.py
include  src/AUREA/GUI/__init__.py
include  src/AUREA/GUI/AUREAPage.py
include  src/AUREA/learner/ktsp.py
include  src/AUREA/learner/tsp.py
include  src/AUREA/learner/dirac.py
include  src/AUREA/learner/wilcoxon.py
include  src/AUREA/learner/tst.py
include  src/AUREA/learner/__init__.py
include  src/AUREA/learner/src/TSP_pywrapper.cpp
include  src/AUREA/learner/src/kfold.cpp
include  src/AUREA/learner/src/ktsp.py
include  src/AUREA/learner/src/TST_pywrapper.cpp
include  src/AUREA/learner/src/tsp.py
include  src/AUREA/learner/src/learn_tst_classifier.cpp
include  src/AUREA/learner/src/dirac.py
include  src/AUREA/learner/src/wilcoxon.py
include  src/AUREA/learner/src/Dirac_pywrapper.cpp
include  src/AUREA/learner/src/Ktsp_mem.h
include  src/AUREA/learner/src/TST_pywrapper_wrap.cxx
include  src/AUREA/learner/src/TST_pywrapper.i
include  src/AUREA/learner/src/TSP_pywrapper.h
include  src/AUREA/learner/src/wilcoxon.cpp
include  src/AUREA/learner/src/TSP_pywrapper.i
include  src/AUREA/learner/src/Ktsp.cpp
include  src/AUREA/learner/src/matrix.cpp
include  src/AUREA/learner/src/WILCOXON_pywrapper.cpp
include  src/AUREA/learner/src/utils.cpp
include  src/AUREA/learner/src/Ktsp.h
include  src/AUREA/learner/src/learn_utsp_classifier.cpp
include  src/AUREA/learner/src/Dirac.cpp
include  src/AUREA/learner/src/dir_Matrix.h
include  src/AUREA/learner/src/wilcoxon_test.cpp
include  src/AUREA/learner/src/learn_classifiers.h
include  src/AUREA/learner/src/order.cpp
include  src/AUREA/learner/src/TSP_pywrapper_wrap.cxx
include  src/AUREA/learner/src/TST_pywrapper.h
include  src/AUREA/learner/src/kfold.h
include  src/AUREA/learner/src/KTSP_pywrapper.i
include  src/AUREA/learner/src/wilcoxon.h
include  src/AUREA/learner/src/WILCOXON_pywrapper.i
include  src/AUREA/learner/src/KTSP_pywrapper_wrap.cxx
include  src/AUREA/learner/src/dir_Matrix.cpp
include  src/AUREA/learner/src/Ktsp_mem.cpp
include  src/AUREA/learner/src/tst.py
include  src/AUREA/learner/src/utils.h
include  src/AUREA/learner/src/WILCOXON_pywrapper_wrap.cxx
include  src/AUREA/learner/src/tsp_supp.py
include  src/AUREA/learner/src/dirac_supp.py
include  src/AUREA/learner/src/KTSP_pywrapper.cpp
include  src/AUREA/learner/src/matrix.h
include  src/AUREA/learner/src/wilcoxon_test.h
include  src/AUREA/learner/src/wilcoxon_supp.py
include  src/AUREA/learner/src/tst_supp.py
include  src/AUREA/learner/src/learn_mtsp_classifier.cpp
include  src/AUREA/learner/src/Dirac_pywrapper_wrap.cxx
include  src/AUREA/learner/src/order.h
include  src/AUREA/learner/src/WILCOXON_pywrapper.h
include  src/AUREA/learner/src/ktsp_supp.py
include  src/AUREA/learner/src/Dirac_pywrapper.i
include  src/AUREA/learner/src/Dirac.h
include  src/AUREA/learner/src/Dirac_pywrapper.h
include  src/AUREA/learner/src/KTSP_pywrapper.h
include  src/AUREA/heuristic/Adaptive.py
include  src/AUREA/heuristic/LearnerQueue.py
include  src/AUREA/heuristic/__init__.py
include  src/AUREA/heuristic/ResourceEstimate.py
include  src/AUREA/packager/DataCleaner.py
include  src/AUREA/packager/DataPackager.py
include  src/AUREA/packager/__init__.py
include  src/pyBabel/README
include  src/pyBabel/__init__.py
include  src/pyBabel/Client.py
include  src/pyBabel/Extensions.py
include  workspace/AUREAGUI.py
include  workspace/data/c2.biocarta.v2.5.symbols.gmt
include  workspace/data/Homo_sapiens.gene_info.gz
include  workspace/data/config.xml
include  workspace/data/AUREA-logo-200.pgm
